* {
    margin: 0;
}

body {
    font-family: 'Open Sans', sans-serif;
}

/* Shared Style */
.orange-text {
    color: orange;
}

.primary-btn {
    background-color: #FD6E0A;
    border: 1px solid transparent;
    padding: 18px 36px;
    color: #fff;
    font-size: 20px;
    border-radius: 5px;
}

.primary-btn:hover {
    background-color: transparent;
    border: 1px solid #FD6E0A;
    color: #FD6E0A;
}

.secondary-btn {
    background-color: transparent;
    border: 1px solid #FD6E0A;
    color: #FD6E0A;
    font-size: 20px;
    border-radius: 5px;
    padding: 18px 36px;
}

.secondary-btn:hover {
    background-color: #FD6E0A;
    border: 1px solid transparent;
    color: #fff;
}
.section-title{
    font-size: 35px;
    font-weight: 800;
    color: #000;
    text-align: center;
    margin-bottom: 20px;
}
.section-info{
    font-size: 16px;
    font-weight: 400;
    color: #7e7c7c;
    text-align: center;
}
/* Header */
.header{
    background-color: #FFF8F3;
    background-image: url("/images/developer.png"), url("/images/header_bg.png");
    background-repeat: no-repeat;
    background-position: bottom left, bottom right;
    background-size: auto;
}
/* main */
main {
    width: 1140px;
    margin: 0 auto;
}

/* Navigation Area */
.navigation {
    display: flex;
    justify-content: space-between;
    padding: 51px 150px 10px 150px;
    align-items: center;

}

.navigation .navigation-title {
    font-size: 45px;
    font-weight: 800;
}

.navigation ul {
    display: flex;
    list-style: none;
    align-items: center;
}

.navigation ul li {
    margin-left: 10px;
}

.navigation ul a {
    text-decoration: none;
    color: #474747;
    font-size: 20px;
    padding: 10px 20px;
}
/* Banner */
.banner {
    display: flex;
    justify-content: space-between;
    padding: 50px 50px 0px 150px;
    align-items: center;
    
}
.banner-greeting{
    font-size: 20px;
    font-weight: 800;
    color: #000000;
    margin-bottom: 10px;
}
.banner-titile{
    font-size: 50px;
    font-weight: 900;
    color: #000;
    margin-bottom: 30px;
}
.banner-content {
    font-size: 16px;
    font-weight: 400;
    color: #979797;
    margin-bottom: 30px;
}
.banner-image{
    max-height: 676px;
}
.banner-image img {
    width: 584px;
    height: auto;
}
/* About me */
.about-me{
    margin: 60px 0 ;
    padding: 80px;
    background-color: #FFF8F3;
}
.about-me-info {
    display: flex;
    justify-content: space-around;
    text-align: center;
    font-size: 16px;
    margin-top: 30px;
}
.info-label {
    color: #474747;
}
.info {
    color: #000;
    font-weight: 900;
}
/* What I do */
.what-i-do .section-content{
    padding: 0 100px;
    text-align: center;
}
.service-list{
    background-color: #FFF8F3;
    padding: 30px;
    margin-top: 30px;
    display: flex;
}
.services {
    margin: 0 10px;
    background-color: #fff;
    padding: 30px;
}
.service-image{
    width: 44px;
    height: 44px;
}
.service-title {
    font-size: 20px;
    font-weight: 700;
    margin: 10px 0;
}
.service-description{
    color: #474747;
    font-size: 16px;
    font-weight: 400;
}
